<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
</head>
<body>
    <h1>Artículos Favoritos</h1>
    {{#favorites}}
    <div class="article">
        <img src="/article/{{id}}/image" alt="{{title}}" class="article-image">
        <h2 class="article-title">{{title}}</h2>
        <a href="/article/{{id}}">Ver artículo</a>
        <a href="/article/{{lastViewedArticleId}}">Volver al Artículo</a>
    </div>
    
    {{/favorites}}
    {{^favorites}}
    <p>No tienes artículos en favoritos.</p>
    {{/favorites}}
</body>
</html>

