<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonez</title>
    <link rel="icon" href="/wonez.ico" type="image/x-icon">
</head>
<body>
	<form action="/article/new" method="post" enctype="multipart/form-data">
		<p>CATEGORÍA: </p>
		<input type='text' name='category'/>
		<p>USUARIO: </p>
		<input type='text' name='user' value="Wonez" readonly/>
		<p>TÍTULO:</p>
		<input type='text' name='title'/>
		<p>SUBTÍTULO:</p>
		<input type='text' name='subtitle'/>
		<p>AUTOR:</p>
		<input type='text' name='author'/>
		<p>TEXTO:</p>
		<textarea name='text' rows=5 cols=40></textarea>
		<p>IMAGEN:</p>
		<input type='file' name='image' accept=".jpg, .jpeg"/>	

		<input type='submit' value='Save'/>
	</form>
</body>
</html>